# Terraform
.terraform/
*.tfstate
*.tfstate.*
crash.log
crash.*.log
*.tfvars
*.tfvars.json
*.tfplan
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
terraform.rc

# Strapi/Node
node_modules/
dist/
build/
.cache/
.tmp/
.strapi/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.sqlite
*.sqlite3
*.db

# Env
.env
.env.*

# Editor/OS
.vscode/
.idea/
*.swp
*.swo
.DS_Store
Thumbs.db

# Logs
*.log
